<div class="alert alert-danger alert-dismissible fade alert-login-error" role="alert">
    <strong>Login Failed!</strong> Please check your username and password
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade alert-added" role="alert">
    <strong>Added successfully!</strong> The data you entered has been added
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade alert-deleted" role="alert">
    <strong>Delete successfully!</strong> The data you entered has been deleted
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade alert-addup" role="alert">
    <strong>Operation successfully!</strong> Your data is up to date
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade alert-priority" role="alert">
    <strong>Priority Setup!</strong> The data you entered has been updated
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


