<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="/img/logo-small.png">
            </div>
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            Kapita Metrodata
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="dashboard-link">
                <a th:href="@{/admin}">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="report-link">
                <a th:href="@{/admin/report}">
                    <i class="nc-icon nc-paper"></i>
                    <p>Manage Report</p>
                </a>
            </li>
            <div sec:authorize="hasAuthority('HSE')">
                <li class="floor-link">
                    <a th:href="@{/admin/floor}">
                        <i class="nc-icon nc-layout-11"></i>
                        <p>Manage Floor</p>
                    </a>
                </li>
            </div>
            <div sec:authorize="hasAuthority('FW')">
                <li class="room-link">
                    <a th:href="@{/fladmin/room}">
                        <i class="nc-icon nc-box-2"></i>
                        <p>Manage Room</p>
                    </a>
                </li>
            </div>
            <div sec:authorize="hasAuthority('HSE')">
                <li class="recap-link">
                    <a th:href="@{/admin/recap}">
                        <i class="nc-icon nc-email-85"></i>
                        <p>Recap Report</p>
                    </a>
                </li>
                <li class="user-link">
                    <a th:href="@{/admin/user}">
                        <i class="nc-icon nc-single-02"></i>
                        <p>Manage User</p>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>