
<div class="tab-pane fade show" id="occupation" role="tabpanel" aria-labelledby="occupation-tab" th:fragment="occupation">
    <div class="content pt-5">
        <div class="row">
            <div class="col-md-12">
                <form th:object="${occupation}" th:action="@{/profile/currentoccupation/perform_update}"  method="post">
                    <div class="editable">
                        <input type="hidden" readonly class="form-control plaintext" id="Name" th:field="*{id}">
                        <div class="form-group row">
                            <label for="Website" class="col-sm-3 col-form-label form-identifier">Website</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control plaintext" id="website" th:field="*{website}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="CurrentCompany" class="col-sm-3 col-form-label form-identifier">Current Company</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control plaintext" id="currentCompany" th:field="*{currentCompany}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Job" class="col-sm-3 col-form-label form-identifier">Job</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control plaintext" id="job" th:field="*{job}">
                            </div>
                        </div>
                    </div>
                    <div class="action-bar text-right">
                        <a href="javascript:void(0)" class="btn btn-info bg-my-color editButton" onclick="editButton()">Edit Profile</a>
                        <div class="hidden">
                            <button class="btn btn-info bg-my-color" id="controlForm" type="submit">Save Changes</button>
                            <a href="#" class="btn btn-info btn-danger" id="controlForm" onclick="cancelButton()">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>