.form-group input[type="file"] {
    opacity: 1;
    position: relative;
}
.new-notif{
    color: #51cbce;
}
.alert{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.hidden{
    display: none;
    transition: .5 all;
}
.user-profile-icon{
    font-size: 24px;
}
.navbar-profile-name{
    font-weight: 700;
    font-size: 12px;
}
.navbar-profile-role, .navbar-profile-role a{
    font-size: 10px!important;
}
.navbar-profile-role a{
    color: #51cbce!important;
}