.form-group input[type="file"] {
    opacity: 1;
    position: relative;
}
.unread{
    background:#f1f0f0;
}
.new-notif{
    color: #51cbce;
}
.alert{
    position: fixed;
    bottom: 30px;
    right: 30px;
}