<!DOCTYPE html>
<html lang="en">
  <div th:replace="fragments/head"></div>

  <body class="">
    <div class="wrapper">
      <div th:replace="fragments/sidebar"></div>

      <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="fragments/navbar"></div>
        <!-- End Navbar -->
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Manage Floor</h5>
                  <p class="card-category">Create, update, delete Floor</p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <button type="button" class="btn btn-primary add-modal" data-toggle="modal" data-target="#floorModal">
                        Add Data
                      </button>
                    </div>
                  </div>
                  <table class="table" id="datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Floor Warden</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="as, iterator : ${floors} ">
                        <th scope="row" th:text="${iterator.index + 1}"></th>
                        <td th:text="${as.name}"></td>
                        <td th:text="${as.description}"></td>
                        <td th:text="${as.admin.name}"></td>
                        <td>
                          <a href="#"
                             class="btn btn-info btn-sm m-1 edit-modal"
                             data-toggle="modal"
                             data-target="#floorModal"
                             th:data-id="${as.id}"
                             th:data-name="${as.name}"
                             th:data-description="${as.description}"
                             th:data-admin="${as.admin.id}"
                          >Edit</a>
                          <a class="btn btn-danger btn-sm m-1">Delete</a>
                        </td>
                      </tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="fragments/footer"></div>
      </div>
    </div>
    <div th:replace="fragments/modals/floorModal"></div>
    <div th:replace="fragments/script"></div>
    <script>
          $(document).on("click", ".edit-modal", function () {

             var id = $(this).data('id');
             var name = $(this).data('name');
             var description = $(this).data('description');
             var admin = $(this).data('admin');

             $(".modal-body #id").val( id );
             $(".modal-body #name").val( name );
             $(".modal-body #description").val( description );
             $(".modal-body #admin").val( admin );
        });

        $(document).on("click", ".add-modal", function () {
             $(".modal-body #id").val( "" );
             $(".modal-body #name").val( "" );
             $(".modal-body #description").val( "" );
             $(".modal-body #admin").val( "" );
        });
    </script>
  </body>
</html>
