<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head"></div>

    <body class="">
        <div class="wrapper">
            <div th:replace="fragments/sidebar"></div>

            <div class="main-panel">
                <!-- Navbar -->
                <div th:replace="fragments/navbar"></div>
                <!-- End Navbar -->
                <div class="content">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Report Detail</h5>
                                    <p class="card-category">Detail of report</p>
                                </div>
                                <div class="card-body">
                                    <div th:each="as : ${report}">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date</label>
                                                    <div th:text="${as.date}"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Originator</label>
                                                    <div th:text="${as.originator.name}"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Room Location</label>
                                                    <div th:text="${as.room.name}"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <div th:utext="${as.description}"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Image Attachments</label>
                                                    <div class="row">
                                                        <div class="image-box col-md-4" th:each="image : ${as.imageAttachmentsList}">
                                                            <img th:src="@{/files/}+${image.imagePath}" width="100%">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 justify-content-between">
                                                <button type="reset" class="btn btn-danger">
                                                    Back to report list
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="fas fa-check-double"></i> Check your form again
                                        before submit
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Set Priority</h5>
                                    <p class="card-category">Before set priority, check the report first</p>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/admin/report/modify/} + ${reportId} + @{/priority}" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Set priority</label>
                                                    <select class="form-control" name="priority">
                                                        <option th:each="as : ${priority}" th:value="${as.id}" th:text="${as.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 justify-content-between">
                                                <button type="submit" class="btn btn-primary">
                                                    Submit
                                                </button>
                                                <button type="reset" class="btn btn-danger">
                                                    Reset Form
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="fas fa-check-double"></i> Check your form again
                                        before submit
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/footer"></div>
            </div>
        </div>
        <div th:replace="fragments/script"></div>
    </body>
</html>
